#main {
  background-color: #81e4e4;
  width: 500px;
  height: 500px;
  margin-left: 50px;
  margin-top: 50px;
  padding: 20px 50px;
}

h3 {
  color: blue;
}

.btn-class {
  padding: 10px 20px;
  color: black;
  border: 5px;
  margin-top: 15px;
  background-color: #80ff80;
  box-shadow: 5px 5px 5px green;
}

.st {
  color: blue;
}

#string {
  color: red;
}

#message1,
#message1 {
  margin: 25px 0px;
}
